

<%= form_tag coupons_path do %>

<labe>Coupon Form</label><br>

<label>Coupon Code:</label><br>
<input type='text' name='coupon[coupon_code]'><br><br>
<label>Store name:</label><br>
<input type='text' name='coupon[store]'><br><br>

<input type='submit' value='Submit Coupon'>

<% end %>